In [1]:
# Importing Library
import pandas as pd
import numpy as np

In [2]:
# Reading train file from Source
train = pd.read_csv(r"D:\Data Science\Hackathon\L&T\Train\train.csv")
train

      application_date  segment  branch_id        state  zone  case_count
0           01-04-2017        1        1.0  WEST BENGAL  EAST          40
1           03-04-2017        1        1.0  WEST BENGAL  EAST           5
2           04-04-2017        1        1.0  WEST BENGAL  EAST           4
3           05-04-2017        1        1.0  WEST BENGAL  EAST         113
4           07-04-2017        1        1.0  WEST BENGAL  EAST          76
...                ...      ...        ...          ...   ...         ...
80397       19-07-2019        2        NaN  WEST BENGAL  EAST        1886
80398       20-07-2019        2        NaN  WEST BENGAL  EAST        1480
80399       21-07-2019        2        NaN  WEST BENGAL  EAST        1028
80400       22-07-2019        2        NaN  WEST BENGAL  EAST        1946
80401       23-07-2019        2        NaN  WEST BENGAL  EAST        1984

[80402 rows x 6 columns]

In [3]:
# Reading test file from Source
test = pd.read_csv(r"D:\Data Science\Hackathon\L&T\Train\test.csv")
test

      id application_date  segment
0      1       2019-07-06        1
1      2       2019-07-07        1
2      3       2019-07-08        1
3      4       2019-07-09        1
4      5       2019-07-10        1
..   ...              ...      ...
175  176       2019-10-20        2
176  177       2019-10-21        2
177  178       2019-10-22        2
178  179       2019-10-23        2
179  180       2019-10-24        2

[180 rows x 3 columns]

In [4]:
# Dropping all those rows which don't have any application count : This was done by manually checking where are all those 
# datapoints lie.
train.drop(train[77871:78136].index, axis=0, inplace=True)
train.drop(train[76183:77026].index, axis=0, inplace=True)
train.drop(train[73651:73695].index, axis=0, inplace=True)
train.drop(train[70271:71526].index, axis=0, inplace=True)
train.drop(train[67741:67878].index, axis=0, inplace=True)
train.drop(train[66899:67016].index, axis=0, inplace=True)
train.drop(train[66093:66877].index, axis=0, inplace=True)
train.drop(train[62868:66055].index, axis=0, inplace=True)
train.drop(train[62843:62847].index, axis=0, inplace=True)
train.drop(train[59645:62841].index, axis=0, inplace=True)
train.drop(train[58840:59635].index, axis=0, inplace=True)
train.drop(train[58032:58441].index, axis=0, inplace=True)
train.drop(train[57226:57629].index, axis=0, inplace=True)
train.drop(train[56420:56851].index, axis=0, inplace=True)
train.drop(train[56014:55615].index, axis=0, inplace=True)
train.drop(train[55131:54808].index, axis=0, inplace=True)
train.drop(train[54002:54128].index, axis=0, inplace=True)
train.drop(train[53196:53330].index, axis=0, inplace=True)
train.drop(train[52391:52411].index, axis=0, inplace=True)
train.drop(train[51585:51625].index, axis=0, inplace=True)
train.drop(train[49167:49691].index, axis=0, inplace=True)
train.drop(train[48351:48587].index, axis=0, inplace=True)
train.drop(train[47555:47714].index, axis=0, inplace=True)
train.drop(train[45943:46344].index, axis=0, inplace=True)
train.drop(train[41913:42317].index, axis=0, inplace=True)
train.drop(train[40301:40522].index, axis=0, inplace=True)
train.drop(train[39495:39887].index, axis=0, inplace=True)
train.drop(train[36270:36661].index, axis=0, inplace=True)
train.drop(train[35465:35884].index, axis=0, inplace=True)
train.drop(train[33853:34286].index, axis=0, inplace=True)
train.drop(train[25793:26067].index, axis=0, inplace=True)
train.drop(train[23767:23796].index, axis=0, inplace=True)
train.drop(train[23375:23764].index, axis=0, inplace=True)
train.drop(train[17732:18032].index, axis=0, inplace=True)
train.drop(train[7254:7656].index, axis=0, inplace=True)

In [5]:
# Extracting date, month, year, weekday from application_date of train file and manking them new separate columns.
x = list(train['application_date'].values)
ls = []
date = []
month = []
year = []
for i in range(len(x)):
    y = x[i].split("-")
    ls.append(y)
for i in range(len(ls)):
    date.append(ls[i][0])
    month.append(ls[i][1])
    year.append(ls[i][2])
train['date'] = date
train['month'] = month
train['year'] = year
train['weekday'] = pd.to_datetime(train['application_date']).dt.weekday

In [6]:
# Adding last day of the month as remark 1 in the separate column in train file
def lastday(value):
    if value == '31':
         return 1
    else:
        return 0
train['remarks'] = train['date'].apply(lastday)

In [7]:
train1 = train[train["segment"]==1]
train2 = train[train["segment"]==2]

In [8]:
# Since, there is all null values in branch_id of train2 (having segment 2), so we are dropping that particular column
train2.drop('branch_id', axis =1, inplace = True)

C:\Users\aksha\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
# Adding remark 1 on holidays in train file. These holidays dates were pulled out from State Holiday of Various States
def holiday(value):
    if value == '15-04-2017' or  value == '04-04-2017' or  value == '14-04-2017' or  value == '10-05-2017' or value  == '07-08-2017' or value == '15-08-2017' or value == '25-08-2017' or value == '02-09-2017' or value == '04-09-2017' or value == '27-09-2017' or value == '28-09-2017' or value == '29-09-2017' or value == '30-09-2017' or value == '01-10-2017' or  value == '08-10-2017'  or value == '18-10-2017'  or value == '19-10-2017' or value == '20-10-2017' or value == '21-10-2017' or value == '26-10-2017' or value == '02-12-2017' or value == '25-12-2017' or value == '26-12-2017' or value == '14-01-2018' or  value == '22-01-2018' or  value == '26-01-2018' or value  == '14-02-2018' or value == '01-03-2018' or value == '02-03-2018' or value == '25-03-2018' or value == '29-03-2018' or value == '30-03-2018' or value == '14-03-2018' or value == '30-04-2018' or value == '15-06-2018' or value == '16-06-2018' or  value == '14-07-2018'  or value == '15-08-2018'  or value == '17-08-2018' or value == '22-08-2018' or value == '25-08-2018' or value == '26-08-2018' or value == '03-09-2018' or value == '13-09-2018' or value == '21-09-2018' or value == '02-10-2018' or  value == '16-10-2018' or value  == '17-10-2018' or value == '18-10-2018' or value == '19-10-2018' or value == '27-10-2018' or value == '07-11-2018' or value == '08-11-2018' or value == '09-11-2018' or value == '13-11-2018' or value == '21-11-2018' or value == '23-11-2018' or  value == '24-11-2018'  or value == '25-12-2018'  or value == '13-01-2019' or value == '14-01-2019' or value == '15-01-2019' or value == '26-01-2019' or value == '10-02-2019' or value == '04-03-2019' or value == '20-03-2019' or  value == '21-03-2019' or  value == '13-04-2019' or  value == '14-04-2019' or value  == '19-04-2019' or value == '21-04-2019' or value == '31-05-2019' or value == '05-06-2019' or value == '04-07-2019' or value == '12-08-2019' or value == '15-08-2019' or value == '23-08-2019' or value == '24-08-2019' or value == '02-09-2019' or  value == '10-09-2019'  or value == '11-09-2019' or value == '02-10-2019' or value == '05-10-2019' or value == '06-10-2019' or value == '07-10-2019' or value == '08-10-2019' or value == '17-10-2019' or value == '27-10-2019' or value == '28-10-2019' or value == '29-10-2019' or value == '02-11-2019' or value == '10-11-2019' or value == '12-11-2019' or value == '25-12-2019':                                                                                            
        return 1
    else:
        return 0
train['remarks'] = train['application_date'].apply(holiday)

In [10]:
# Extracting date, month, year, weekday from application_date in test file and manking them new separate columns.
x = list(test['application_date'].values)
ls = []
date = []
month = []
year = []
for i in range(len(x)):
    y = x[i].split("-")
    ls.append(y)
for i in range(len(ls)):
    date.append(ls[i][2])
    month.append(ls[i][1])
    year.append(ls[i][0])
test['date'] = date
test['month'] = month
test['year'] = year
test['weekday'] = pd.to_datetime(test['application_date']).dt.weekday
test.head()

   id application_date  segment date month  year  weekday
0   1       2019-07-06        1   06    07  2019        5
1   2       2019-07-07        1   07    07  2019        6
2   3       2019-07-08        1   08    07  2019        0
3   4       2019-07-09        1   09    07  2019        1
4   5       2019-07-10        1   10    07  2019        2

In [11]:
# Adding remark 1 on holidays in test file. These holidays dates were pulled out from State Holiday of Various States
def holiday(value):
    if value == '2019-03-20' or  value == '2019-03-21' or  value == '2019-04-13' or  value == '2019-04-14' or value  == '2019-04-19' or value == '2019-04-21' or value == '2019-05-31' or value == '2019-06-05' or value == '2019-07-04' or value == '2019-08-12' or value == '2019-08-15' or value == '2019-08-23' or value == '2019-08-24' or value == '2019-09-02' or  value == '2019-09-10'  or value == '2019-09-11' or value == '2019-10-02' or value == '2019-10-05' or value == '2019-10-06' or value == '2019-10-07' or value == '2019-10-08' or value == '2019-10-17' or value == '2019-10-27' or value == '2019-10-28' or value == '2019-10-29' or value == '2019-11-02' or value == '2019-11-10' or value == '2019-11-12' or value == '2019-12-25' :                                                                                            
        return 1
    else:
        return 0
test['remarks'] = test['application_date'].apply(holiday)

In [12]:
# Dropping "id" column from test file as it is not in submission file format
test.drop('id', axis = 1, inplace = True)

In [13]:
# test1 is having segment 1
test1 = test.loc[test['segment']==1]
# test2 is having segment 2
test2 = test.loc[test['segment']==2]

In [14]:
# Dividing the test file into two segments: 1 and 2 by name df1 and df2
df1 = test[test['segment']==1]
df2 = test[test['segment']==2]

In [15]:
# Dropping 'application_date' column from test file
test1.drop('application_date', axis = 1, inplace = True)
test2.drop('application_date', axis = 1, inplace = True)

In [16]:
# Declaring our independent features(X1) and dependent feature(Y1) in train1 file
X1 = train1[['segment','date','month','year','weekday','remarks']]
Y1 = train1[['case_count']]
# Declaring our independent features(X1) and dependent feature(Y1) in train2 file
X2 = train2[['segment','date','month','year','weekday','remarks']]
Y2 = train2[['case_count']]

In [17]:
# Importing Linear Regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [18]:
# Fitting the model for segment 1
reg1 = reg.fit(X1,Y1)
# Predicting case_count for segment 1 
Y_pred1=reg1.predict(test1)

In [19]:
# Print regression coefficicients and regression intercept for segment 1
print(reg1.coef_) 
print(reg1.intercept_)

[[  0.           0.61279625   1.34166965   5.53331156  -2.08094005
  105.04319094]]
[-11138.36806788]

In [20]:
# Fitting the model for segment 2
reg2 = reg.fit(X2,Y2)
# Predicting case_count for segment 2
Y_pred2=reg2.predict(test2)

In [21]:
# Print regression coefficicients and regression intercept for segment 2
print(reg2.coef_) 
print(reg2.intercept_)

[[    0.            32.74157307    15.39813509   191.15544619
    -34.09564043 -1574.00630114]]
[-385054.70700321]

In [22]:
# Adding our predicted case counts of both segments in their respective dataframe.
df1['case_count']= Y_pred1
df2['case_count']= Y_pred2

C:\Users\aksha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\aksha\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
# Conacting both dataframe into one dataframe on axis = 0
df = pd.concat([df1,df2], axis = 0)
df

    application_date  segment date month  year  weekday  remarks   case_count
0         2019-07-06        1   06    07  2019        5        0    36.051727
1         2019-07-07        1   07    07  2019        6        0    34.583583
2         2019-07-08        1   08    07  2019        0        0    47.682020
3         2019-07-09        1   09    07  2019        1        0    46.213876
4         2019-07-10        1   10    07  2019        2        0    44.745732
..               ...      ...  ...   ...   ...      ...      ...          ...
175       2019-10-20        2   20    10  2019        6        0  1492.377815
176       2019-10-21        2   21    10  2019        0        0  1729.693231
177       2019-10-22        2   22    10  2019        1        0  1728.339164
178       2019-10-23        2   23    10  2019        2        0  1726.985096
179       2019-10-24        2   24    10  2019        3        0  1725.631029

[180 rows x 8 columns]

In [24]:
# Saving the above dataframe into csv format.
df.to_csv(r"D:\Data Science\Hackathon\L&T\submit261.csv")